@{
    ViewBag.Title = "Contact";
}


<div class="container">

    <div class="row">
        <button class="col-lg-4 col-md-6 col-sm-10">boton</button>
        <button class="col-lg-4 col-md-6 col-sm-2">boton</button>
        <button class="col-lg-4 col-md-12 col-sm-4">boton</button>
    </div>

</div>